  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/Principal">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/QuienSoy#quien">Quien</a></li>
          <li><a href="/QuienSoy#que">Ques es</a></li>
          <li><a href="/QuienSoy#donde">Donde</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="/assets/imagenes/yo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Vanesa Montecinos</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h1></h1>
    <h3 class="margin">Adivinanza y Acertijos</h3>

    <div  class="col-sm-4">
        <img class="img-thumbnail"   src="../assets/imagenes/acertijo.gif" alt="Avatar" style="width:100%">
    </div>
    <p>El juego va mostrar una imagen en pantalla. Esta imagen puede estar relacionada al nombre de una pelicula,
       al nombre de un actor o puede ser un acertijo matematico. Una vez que comienza el juego se tendra 15 segundos para completar 
       la frase o numero, si no se responde dentro de ese lapso de tiempo se considera que el jugador perdio.
     </p>
     <p>Intentalo!!</p>
    <a href='/Juegos/miJuego' class="btn btn-default btn-lg">
      <span class="glyphicon"></span> Ir al Juego
    </a>
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="/assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="/assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="/assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://www.octavio.com.ar">Vanesa Montecinos</a></p> 
  </footer>