.container {
    padding: 2px 16px;
    background-color:#090A09;
    background-size:100% 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    

    
    color: white;
}

.centrado{
    text-align: center; 
}

.CajaUno{
    padding: 2px 16px;
    background-color:#090A09;
    background-size:100% 100%;

}
.boton{
    background-color:#023802; 
    color: white;
}