<div>
    <div style="text-align:center" class="container">
        
         <h1 class="centrado  cursiva"> 
             <img class="img-thumbnail"   src="/assets/imagenes/tatetigif.gif" alt="Avatar" style="width:110px">
             TATETI
             <img class="img-thumbnail"   src="/assets/imagenes/tatetigif.gif" alt="Avatar" style="width:110px">
           </h1> 
        
       <h2></h2>
    
        
   
       <div class="main-app">
       <div id="details">
      
    </div>
    <board></board>
  </div>
</div>
</div>