<app-cabecera>  </app-cabecera>
<link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet"><div class="container" ></div>



 
<div class="container fuente" >
   
    <!--ul class="list-group">
        <li class="list-group-item list-group-item-danger">
           
                <div class="media-body">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
               
             
          </li>
        <li class="list-group-item list-group-item-success">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">
                    <img src="../assets/imagenes/saladej.jpg" class="media-object imagenDeMenu" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>
             
            </div> 
          </a>
        </li>
        <li class="list-group-item list-group-item-info">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="../assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>
                
              </div> 
            </a>
          </li>
        <li class="list-group-item list-group-item-warning">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="../assets/imagenes/Configuracion.png" class="media-object imagenDeMenu" >
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>
             
            </div> 
          </a>
        </li>
       
        
      </ul-->

      
          <div class="fuente">
              <a routerLink="/Juegos">
          <div  class="col-sm-4">
              <img class="img-thumbnail"   src="../assets/imagenes/ruleta.gif" alt="Avatar" style="width:100%">
              <h1 >JUEGOS </h1>
              <p class="title">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
            
          
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a> 
              <a href="#"><i class="fa fa-facebook"></i></a> 
              <p>           <button class="button"  (click)="Juego('Agilidad')">Comenzar a Jugar!</button></p>
           
            </div>
          </a>
</div>

<div class="fuente">
    <a routerLink="/ListadoJugador">
<div  class="col-sm-4">
    <img class="img-thumbnail"   src="../assets/imagenes/listado.gif" alt="Avatar" style="width:100%">
    <h1 >Listados de Resultados </h1>
    <p class="title">Los listados de los resultados con ordenamiento y busqueda.</p>
  

    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p>           <button class="button"  (click)="Juego('Agilidad')">Ver Listado</button></p>
 
  </div>
</a>
</div>