
<link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet"><div class="container" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rye|Shrikhand|Yellowtail" rel="stylesheet">
  <div  >
    
  <div class="card ">
      <img class="img-thumbnail"   src="../assets/imagenes/pensando.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva" >Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="../assets/imagenes/ppt2.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva" >Piedra Papel  o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="../assets/imagenes/adivina.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva">Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="../assets/imagenes/anagrama.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva">Anagrama</h1>
      <p class="title">Ordena la palabra</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>

    <div class="card">
        <img  class="img-thumbnail"  src="../assets/imagenes/adivinanza.gif" alt="Avatar" style="width:100%">
        <h1 class="cursiva">Adivinanza y Acertijos</h1>
        <p class="title">Juego de velocidad</p>
        <p>UTN FRA </p>
        
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <p>           <button class="button"  (click)="Juego('miJuego')">Jugar</button></p>
      </div>
  </div>
</div>