
<link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet"><div class="container" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rye|Shrikhand|Yellowtail" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <div  >
    
  <div *ngIf="this.cliente" class="card ">
      <img class="img-thumbnail"   src="/assets/imagenes/444.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva" >Realizar Reserva </h1>
      <p class="title">Es facil y Sencillo</p>
      
  
      
      <p>   <button class="button fuenteBoton"  (click)="Principal('AltaViaje')">Reservar</button></p>
    
    </div>
    <div *ngIf="this.encargado" class="card ">
        <img class="img-thumbnail"   src="/assets/imagenes/444.gif" alt="Avatar" style="width:100%">
        <h1 class="cursiva" >Todos los Viajes </h1>
        <p class="title">Listado de todos los viajes realizados, cancelados y solicitados</p>
        
    
        
        <p>   <button class="button fuenteBoton"  (click)="Principal('ListadoViajes')">Ver Viajes</button></p>
      
      </div>
      <div *ngIf="this.remisero" class="card ">
          <img class="img-thumbnail"   src="/assets/imagenes/444.gif" alt="Avatar" style="width:100%">
          <h1 class="cursiva" >Viajes Asignados </h1>
          <p class="title">Listado de todos los viajes asignados al usuario</p>
          
      
          
          <p>   <button class="button fuenteBoton"  (click)="Principal('ViajesAsignados')">Ver Viajes</button></p>
        
        </div>
  
    <!--div class="card">
      <img class="img-thumbnail" src="/assets/imagenes/ppt2.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva" >Piedra Papel  o Tijera</h1>
      <br/>
      <br/>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button fuenteBoton"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="/assets/imagenes/adivina.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva">Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>
      <br/>
      <br/>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button fuenteBoton"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="/assets/imagenes/anagrama.gif" alt="Avatar" style="width:100%">
      <h1 class="cursiva">Anagrama</h1>
      <br/>
      <br/>
      <p class="title">Ordena la palabra</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button fuenteBoton"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>

    <div class="card">
        <img  class="img-thumbnail"  src="/assets/imagenes/adivinanza.gif" alt="Avatar" style="width:100%">
        <h1 class="cursiva">Adivina La pelicula</h1>
        <p class="title">Juego de velocidad</p>
        <p>UTN FRA </p>
        
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <p>           <button class="button fuenteBoton"  (click)="Juego('miJuego')">Jugar</button></p>
      </div>

      <div class="card">
        <img  class="img-thumbnail"  src="/assets/imagenes/tateti.gif" alt="Avatar" style="width:100%">
        <h1 class="cursiva">TATETI</h1>
        <p class="title">Juego de estrategia</p>
        <p class="title">Multijugador</p>
        <p>UTN FRA </p>
        
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-linkedin"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a> 
        <p>           <button class="button fuenteBoton"  (click)="Juego('Tateti')">Jugar</button></p>
      </div>
  </div-->
</div>