<app-cabecera></app-cabecera>
    
    <div class="container fuente" >
      <br>
<form [formGroup]="form" >
  <div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre">
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" formControlName="mail">
  </div>
  <div class="form-group">
      <label>Clave</label>
      <input type="text" class="form-control" formControlName="clave">
  </div>
  <div class="form-group">
 
    <label>Tipo:</label>
    <label class="radio-inline">
      <input type="radio" name="tipo" formControlName="tipo" value="cliente">Cliente
    </label>
  

  </div>


      
      <re-captcha  formControlName="captcha"></re-captcha>
    

  <p [ngStyle]="{'color': 'red'}" *ngIf="!form.valid">{{mensajeErrorFormAlta}}</p>
  <button type="button" class="btn btn-default" (click)="guardar()">Guardar</button>
  <p [ngStyle]="{'color': 'grenn'}" *ngIf="seguardo">{{mensajeOKFormAlta}}</p>
</form>
    </div>
