.centrado{
    text-align: center; 
    color: white;
  }
  .container {
    padding: 2px 16px;
    background-color:#090A09;
    background-size:100% 100%;
    align-content: center;
    align-items: center;
    align-self: auto;
    color: white;
    font-size: 20px;
    
  }
  .cursiva{
    font-family: 'Rye', cursive;;
  }
  .verde{
    color: green;
  }