<link href="https://fonts.googleapis.com/css?family=Faster+One|New+Rocker|Open+Sans|Rye|Shrikhand|Yellowtail" rel="stylesheet">
<ul class="nav nav-pills nav-justified negro">
  <li class="active"><a routerLink="/Principal">Sala de Juegos</a></li>
  <li><a class="negro" (click)="SmarTable()">Smart Table</a></li>
  <li><a class="negro" (click)="Show()">Tabla de Todos los usuarios</a></li>
  <li><a class="negro" (click)="filtTrue()">Tabla de Ganadores</a></li>
  <li><a class="negro" (click)="filtFalse()">Tabla de Perdedores</a></li>
</ul>
<br/>


<div  class="container"  >
  <div [hidden]="mostrarSmarTable" >
  <!--div style="text-align:center">
      <button class="btn" (click)="Show()"> Traer todos</button>
      <button class="btn" (click)="filtTrue()">Gano</button>
      <button class="btn" (click)=filtFalse()>Perdio</button>
  </div-->
  <table class="table " [hidden]="mostrar">
      <thead>
        
        <th>Jugador</th>
        <th>email</th>
        <th>fecha</th>
        <th>sexo</th>
        <th>juego</th>
        <th>puntaje</th>
        <th>gano?</th>
      </thead>
      <tbody *ngFor="let us of users">
        
        <td>{{us.usuario}}</td>
        <td>{{us.email}}</td>
        <td>{{us.fecha}}</td>      
        <td>{{us.sexo | sexo}}</td>
        <td>{{us.juego}}</td>
        <td>{{us.puntaje}}</td>
        <td>{{us.gano | gano}}</td>
        
      </tbody>
    </table>
  
    <table class="table" [hidden]="mostrarFilt">
      <thead>
       
          <th>Jugador</th>
        <th>email</th>
        <th>fecha</th>
        <th>sexo</th>
        <th>juego</th>
        <th>puntaje</th>
        <th>gano</th>
        
      </thead>
      <tbody *ngFor="let us of filtrado">
       
        <td>{{us.usuario}}</td>
        <td>{{us.email}}</td>
        <td>{{us.fecha}}</td>      
        <td>{{us.sexo  | sexo }}</td>
        <td>{{us.juego}}</td>    
        <td>{{us.puntaje}}</td>
        <td>{{us.gano | gano}}</td>
        
      </tbody>
    </table>

  </div>

  </div>
  <div class="container" [hidden]="mostrarSmarTable==false">
<ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>


  



