<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->



   

   <!--li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
      Primer número: <input [(ngModel)]="numeroUno" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
     {{this.numeroUno}}
     </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li-->
<div class="container">
  <h1 class="centrado cursiva"> 
      <img class="img-thumbnail"   src="/assets/imagenes/corriendo.gif" alt="Avatar" style="width:110px">
      Velocidad Aritmetica
      <img class="img-thumbnail"   src="/assets/imagenes/corriendo.gif" alt="Avatar" style="width:110px">
    </h1> 
  <form name="juego">
      <ul>
<div [hidden]="ocultarVerificar" >
   
    <li>
  <div class=cuadro>
    <h1>
    {{this.nuevoJuego.numeroUno}}</h1>
  </div>
  <div class=cuadro>
    <h1>  {{this.nuevoJuego.eloperador}}</h1>
    </div>
    <div class=cuadro>
      <h1>   {{this.nuevoJuego.numeroDos}}</h1>
      </div>
    </li>
    </div>
   
<div>
  
    <div  [hidden]="ocultarVerificar">
      
        <p></p>
      
       
        <li>
    <input [(ngModel)]="numeroIngresado" placeholder="ingrese numero" name="this.numeroIngresado" type="text" class="form-control" style="width:200px"/>
      </li>
  </div>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
   
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo Juego</button></h2>
  </li>
  <li>
    <h2 [hidden]="ocultarVerificar"><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
    <h3 [hidden]="nuevoJuego.gano">Usted aún no gano </h3>
    <div [hidden]="!ocultarVerificar">
    <h3 class="verde" [hidden]="!nuevoJuego.gano"> FELICITACIONES! Usted adivino el número</h3>
    
    <h3 [hidden]="nuevoJuego.gano">Respuesta Incorrecta!! el resultado es {{this.nuevoJuego.resultado}}</h3>
  </div>
  </li>
</div>
</ul>

</form>
</div>