<!-- <div class="container">
    <div style="text-align:center">
      <h1>
        {{nuevoJuego.nombre}}!
      </h1>
     </div>
    
    <form name="juego" >
    
     <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()"  class="btn btn-info btn-lg">Nuevo número secreto</button></h2>
    
    
       <p> </p> 
        <h1>Palabra desordenada: {{nuevoJuego.palabraDesordenada}}  </h1>
         <br /> <input [(ngModel)]="nuevoJuego.palabraIngresada" placeholder="ingrese la palabra ordenada" name="palabraOrdenadaa" type="text" class="form-control" style="width:50%"/>
     
        <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.esperando!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h2>
     
        <h2><button *ngIf="nuevoJuego.palabraDesordenada!=null " (click)="generarPalabra()"  class="btn btn-info btn-lg">Comenzar</button></h2>
        
        <h2><p *ngIf="nuevoJuego.esperando!=0" ><mat-spinner>se</mat-spinner>Esperando que ingrese una palabra</p></h2>
    
        <h3 [hidden]="!nuevoJuego.gano">usted adivino la palabra</h3>
        <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
    
    </form>
    
      <div id="msj">{{Mensajes}}</div>
    </div> -->

    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
          </div>
          <div class="col-sm-8 text-left"> 
            <div class="container">
              <div style="text-align:center">
                 <h1 class=centrado> 
                    <img class="img-thumbnail"   src="../assets/imagenes/adivinanza.gif" alt="Avatar" style="width:110px">
                    {{nuevoJuego.nombre}}!
                    <img class="img-thumbnail"   src="../assets/imagenes/adivinanza.gif" alt="Avatar" style="width:110px">
                  </h1> 

               </div>
               <div *ngIf="ocultarComenzar==true" class=padding>
               <img  class="img-thumbnail"  src="{{nuevoJuego.palabraDesordenada}} " alt="Avatar" style="width:400px">
              </div>
               <form name="juego" >
              

                     
                     <h2 [hidden]="ocultarVerificar"> <input [(ngModel)]="nuevoJuego.palabraIngresada" placeholder="ingrese su respuesta " name="palabraOrdenadaa" type="text" class="form-control" style="width:50%"/>
                      </h2>
                     <div class=padding> 
                  <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.esperando!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
               
                  <h2 [hidden]="ocultarComenzar"><button *ngIf="nuevoJuego.palabraDesordenada!=null " (click)="generarPalabra()"  class="btn btn-info btn-lg">Comenzar</button></h2>
                 
                </div>
                <div>
                  <h2 [hidden]="!nuevoJuego.gano">Adivinaste!</h2>
                  <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
                </div>
              </form>
              
                <div id="msj"><h1>{{Mensajes}}</h1></div>
              </div>
          <div class="col-sm-2 sidenav">
          </div>
        </div>
      </div>
