<link href="https://fonts.googleapis.com/css?family=Open+Sans|Rye|Shrikhand|Yellowtail" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

 <div class="panel panel-default">
  <div class="hero-text fuente">
      <h1 class=" cursiva" style="font-size:50px">Remiseria Humberto</h1>
     
  </div>
  <!--ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
  </ul-->
</div>
