.cuadro {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
   height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
  background-color: #A5240E;
    text-align: center;
    color: white;
    padding-top:20px;
    padding-right:40px;
    padding-bottom: 30px;
    padding-left: 40px;
}